.jumbotron {
    background-color:#22346a;
    color:#ffffff;
    padding-top: 60px;
}

.navbg {
    background-color: #22346a;
}

#thumbimg {
    margin-top:0px;
    margin-bottom: 0px;
    height: 100px;
    width: 200px;
    float: left;
}

footer {
    background-color: #22346a;
    color: #ffffff;
}

footer address {
    color: #ffffff;
}

footer a {
    font: 1em Verdana, Arial;
    color: #ffffff;
    margin-top: 10px;
}

footer h3 {
    font-size: 22px;
    margin-top: 3px;
}

.footerbreadcrumb{
    margin-left: 15px;
}

.img-fluid {
    height: 200%;
    width: 100%;
}

#titlesection{
    margin-top: 15px;
    margin-bottom: 25px;
    color: #67D463;
}

#whContact{
    height: 250px;
    width: 400px;
}

#filltext{
    font-size: 2em;
    font-family: Monaco,Georgia,Times,serif;
}

#meme{
    width: 55%;
}

#imgtitle{
    width: 90%;
    height: 90%;
}