.jumbotron {
    background-color:#22346a;
    color:#ffffff;
    padding-top: 60px;
}

.navbg {
    background-color: #22346a;
}

#thumbimg {
    margin-top:0px;
    margin-bottom: 0px;
    height: 100px;
    width: 200px;
    float: left;
}

footer {
    background-color: #22346a;
    color: #ffffff;
}

footer address {
    color: #ffffff;
}

footer a {
    font: 1em Verdana, Arial;
    color: #ffffff;
    margin-top: 10px;
}

footer h3 {
    font-size: 22px;
    margin-top: 3px;
}

.img-fluid {
    height: 250px;
    width: 100%;
}

#titlesection{
    margin-top: 15px;
    margin-bottom: 25px;
}